<html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Team Comp</title>
  </head>
  <body>
    {% set championNames = get_champ_names(champions.champ1, champions.champ2, champions.champ3, champions.champ4, champions.champ5) %}
    {% set championRates = get_win_rate(champions.champ1, champions.champ2, champions.champ3, champions.champ4, champions.champ5) %}
    {% set championIds = get_champion_ids() %}
    <div class="header">
    <h1>Team Comp</h1>
    </div>

    <div class="page">
    <h2>Champions Selected</h2>
    <h3>
      {% for name in championNames %}
      <img id={{ name }} src= {{ url_for('static', filename = "images/icons/{}1.png".format(name)) }} width="60" height="60" alt={{ name }} title={{ name }} border="1">
      {{ name }}
      <br>
      {% endfor %}
    </h3>
    <p>Win Rate = {{ championRates[0] }}%</p>
    <p>Played {{ championRates[1] }} times</p>
    {% if not championRates[2] == [] %}
      <hr>
      <h2>Team Suggestions</h2>
      {% for id in championRates[2][0] %}
      <img id={{ championIds[id] }} src= {{ url_for('static', filename = "images/icons/{}1.png".format(championIds[id])) }} widt="60" height="60" alt={{ championIds[id] }} border="1">
      {% endfor %}
      <p>Win Rate = {{ "{0:.2f}".format(championRates[2][1]/championRates[2][2] * 100) }}%</p>
      <p>Played {{ championRates[2][2] }} times</p>
      <hr>
      {% for id in championRates[3][0] %}
      <img id={{ championIds[id] }} src= {{ url_for('static', filename = "images/icons/{}1.png".format(championIds[id])) }} widt="60" height="60" alt={{ championIds[id] }} border="1">
      {% endfor %}
      <p>Win Rate = {{ "{0:.2f}".format(championRates[3][1]/championRates[3][2] * 100) }}%</p>
      <p>Played {{ championRates[3][2] }} times</p>
      <hr>
      {% for id in championRates[4][0] %}
      <img id={{ championIds[id] }} src= {{ url_for('static', filename = "images/icons/{}1.png".format(championIds[id])) }} widt="60" height="60" alt={{ championIds[id] }} border="1">
      {% endfor %}
      <p>Win Rate = {{ "{0:.2f}".format(championRates[4][1]/championRates[4][2] * 100) }}%</p>
      <p>Played {{ championRates[4][2] }} times</p>
    {% endif %}
    </div>
  </body>
</html>
